@charset "UTF-8";

/* ページ全体のスタイル */
body {
    /*背景色*/
    background-color: #444;
    /*幅や高さのサイズに枠線と余白も含める*/
    box-sizing: border-box;
    /*インライン要素やテキストを中央配置*/
    text-align: center;
}

#gallery {
    /*左右の余白を調整*/
    margin: auto;
    /*要素の内側上部に余白*/
    padding-top: 40px;
    /*横幅指定*/
    width: 500px;
}

#gallery .main img {
    /*線設定*/
    border: 4px solid #fff;
    /*影の設定*/
    box-shadow: 0px 0px 14px #000;
    /*親要素の横幅（500px）いっぱい*/
    width: 100%;
}

#gallery .main p {
    /*文字色*/
    color: #bbb;
    /*文字サイズ*/
    font-size: 20px;
    /*太文字*/
    font-weight: bold;
}

#gallery .thumb img {
    border: 4px solid #fff;
    border-radius: 400px;
    box-shadow: 0 0 10px #000;
    height: 60px;
    margin: 10px;
    width: 60px;
}