@charset "utf-8";

.question {
    margin-bottom: 64px;
}

h2 {
    margin: 0;
}

.q_container {
    width: 80%;
    height: 150px;
    padding: 16px;
    background-color: #ccc;
}

table,th,td  {
    border: 1px solid #333;
    border-collapse: collapse;
}
